---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import Place from '../../layouts/Place.astro'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const places = await getCollection('place')
  return places.map(place => ({
    params: { slug: place.slug }, props: { place },
  }))
}

// 2. When it's time to render, you can get the entry directly from the prop
export interface Props {
  place: CollectionEntry<"place">
}
const { place } = Astro.props
const trips = await getCollection('trip', ({ data }) => {
  return data.place == place.data.title;
})
const { Content } = await place.render();
---
<Place place={place}>
  <div class="max-w-4xl mx-auto bg-white pb-6 mb-6 px-12 lg:px-24 relative z-10">
    <div class="prose prose-sm sm:prose lg:prose-lg pt-6">
      <Content />
    </div>
  </div>
  <!-- <h2 class="text-center uppercase font-display text-lg md:text-xl text-black py-12 md:py-24 px-6">Trips</h2> -->
  {trips.map((trip, i) => (
      <div class="container mx-auto px-6 py-4 grid grid-cols-1 lg:grid-cols-2 lg:mb-24 bg-rose-50 shadow-lg shadow-neutral-400 rounded-lg">
          <div class="relative h-52 md:h-72 lg:h-auto">
              <a href="/category">
                  <Image src={trip.data.image} class="absolute inset-0 w-full h-full object-cover p-4 bg-white" alt={trip.data.title}/>
              </a>
          </div>
          <div class="px-6 py-12 md:p-16 lg:p-32 flex items-center justify-center order-last" class:list={[ i % 2 == 0 && 'lg:order-first' ]}>
              <div>
                  <h3 class="text-4xl mb-6 font-display text-black leading-tight">{trip.data.title}</h3>
                  <p>{trip.data.description}</p>
                  <a href={trip.data.href} class="flex items-center mt-8 uppercase text-sm text-black font-semibold">
                      Explore Trip 
                      <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
  ))}
</Place>