---
import type Document from '../data/document'
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from 'astro-travelens/Header.astro'
import Footer from 'astro-travelens/Footer.astro'
import { SiteMetadata } from 'astro-travelens/config'
import Cover from '../assets/countries/Penang.jpeg'
const documents = import.meta.glob<Document>('../data/*.json', { import: 'default', eager: true })
const trips = Object.keys(documents)
  .map((doc) => documents[doc])
  .flat(3)
  .filter((doc) => doc.collection === 'trip')
  .sort((a, b) => +new Date(b.date) - +new Date(a.date))
---

<Layout
  title='Trips'
  description='Index of all trips'
  date={SiteMetadata.buildTime}
  image={Cover}
  tags={['travel', 'blog']}
>
  <Header />
  <div class='relative w-full bg-black px-12 py-12 -mt-24'>
    <!-- hero section -->
    <div class='relative z-10 py-48 text-center'>
      <h1 class='font-display mb-12 text-center text-6xl text-white font-bold'>Trips</h1>
    </div>

    <!-- banner image -->
    <Image
      src={Cover}
      class='absolute inset-0 w-full object-cover object-center opacity-70'
      alt='Cover'
    />
  </div>
  <div class='grid grid-cols-1 bg-neutral-700 lg:grid-cols-3 md:grid-cols-2 xl:grid-cols-4'>
    {
      trips.map((trip) => (
        <a
          href={trip.base + trip.slug}
          class='font-heading relative block h-72 flex items-center justify-center bg-black text-white tracking-widest uppercase hover:opacity-75'
        >
          <div class='relative z-10'>{trip.title}</div>
          <img
            src={trip.image.src}
            class='absolute inset-0 h-full w-full object-cover opacity-50'
            alt={trip.title}
          />
        </a>
      ))
    }
  </div>
  <Footer />
</Layout>
