---
import Tags from '../common/Tags.astro'

interface Doc {
  id: string
  slug: string
  base: string
  collection: string
  body: string
  trip: string
  place: string
  timezone: string
  location: string
  title: string
  description: string
  date: Date
  image: ImageMetadata
  map: number[]
  tags: string[]
}

export interface Props {
  documents: Doc[]
}

const { documents } = Astro.props
---

{
  documents.map((doc, i) => (
    <div class='grid grid-cols-1 mx-auto mb-4 rounded-lg bg-rose-50 px-6 py-4 shadow-lg shadow-neutral-400 container lg:grid-cols-2'>
      <div class='relative h-52 lg:h-auto md:h-72'>
        <a href={doc.base + doc.slug}>
          <img
            src={doc.image.src}
            width={1024}
            class='absolute inset-0 h-full w-full bg-white object-cover p-4 hover:bg-pink-200'
            alt={doc.title}
          />
        </a>
      </div>
      <div
        class='order-last flex items-center justify-center px-6 py-12 lg:p-32 md:p-16'
        class:list={[i % 2 == 0 && 'lg:order-first']}
      >
        <div>
          <a href={doc.base + doc.slug}>
            <h3 class='font-display mb-2 text-4xl text-black leading-tight hover:text-pink'>
              {doc.title}
            </h3>
          </a>
          <div class='my-2 text-neutral-600'>
            <div>
              <span class='i-fa6-solid-passport h-4 w-4' />
              <span class='ml-1 mr-4'>{doc.trip}</span>
            </div>
            <div>
              <span class='i-fa6-solid-globe h-4 w-4' />
              <span class='ml-1 mr-4'>{doc.place}</span>
            </div>
            <div>
              <span class='i-fa6-solid-location-arrow h-4 w-4' />
              <span class='ml-1 mr-4'>{doc.location}</span>
            </div>
            <div>
              <span class='i-fa6-solid-calendar-days h-4 w-4' />
              <span class='ml-1'>
                {new Date(doc.date).toLocaleString('en-AU', {
                  dateStyle: 'long',
                  timeStyle: 'short',
                  timeZone: doc.timezone
                })}
              </span>
            </div>
            <Tags tags={doc.tags} />
          </div>
          <p>{doc.description}</p>
          <a
            href={doc.base + doc.slug}
            class='font-heading mt-4 inline-block bg-pink-400 px-8 py-4 text-sm text-white tracking-widest hover:bg-pink-500'
          >
            Read
          </a>
        </div>
      </div>
    </div>
  ))
}
