---
import { Image } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import Header from '../../common/Header.astro'
import Footer from '../../common/Footer.astro'
import type Document from '../../data/document'
import Documents from '../../components/Documents.astro'
import { SiteMetadata } from '../../common/config'

import Cover from '../../images/tags.jpeg'

export async function getStaticPaths() {
  const documents = import.meta.glob<Document[]>('../../data/*.json', {
    import: 'default',
    eager: true
  })
  const allTags = Object.keys(documents)
    .map((doc) => documents[doc].map((entry) => entry.tags))
    .flat(3)
  const uniqueTags = Array.from(new Set(allTags))
  const tags = uniqueTags.map((tag) => {
    return {
      tag: tag,
      documents: Object.keys(documents)
        .map((doc) => documents[doc])
        .flat(3)
        .filter((doc) => doc.tags.includes(tag))
    }
  })
  return tags.map((tag) => ({
    params: { tag: tag.tag },
    props: { tag: tag.tag, documents: tag.documents }
  }))
}

export interface Props {
  tag: string
  documents: Document[]
}
const { tag, documents } = Astro.props
---

<Layout
  title={'Tag: ' + tag}
  description={'Tag: ' + tag}
  date={SiteMetadata.buildTime}
  image={Cover}
  tags={[tag, 'travel', 'blog']}
>
  <Header />
  <div class='relative w-full flex items-center justify-center overflow-hidden bg-black -mt-24'>
    <div class='relative h-96'>
      <Image src={Cover} class='w-full object-cover object-center opacity-50' alt='Background' />
    </div>
  </div>
  <div class='relative z-10 mx-auto mb-4 max-w-4xl bg-white px-12 pb-12 pt-12 -mt-32 lg:px-24'>
    <h2 class='mt-4 text-xs text-gray-600 tracking-widest uppercase'>travelens</h2>
    <h1 class='font-display mt-4 text-2xl text-gray-900 md:text-3xl'>Tag: {tag}</h1>
  </div>
  <Documents documents={documents} />
  <Footer />
</Layout>
