---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../common/Header.astro'
import Footer from '../common/Footer.astro'
import { SiteMetadata } from '../common/config'

interface Props {
  place: CollectionEntry<'place'>
}

const { place } = Astro.props
---

<Layout
  title={place.data.title}
  description={place.data.description}
  date={SiteMetadata.buildTime}
  image={place.data.image}
  tags={[place.data.title, 'travel', 'blog']}
>
  <Header />
  <div class='relative w-full flex items-center justify-center overflow-hidden bg-black -mt-24'>
    <div class='relative h-96'>
      <Image src={place.data.image} class='w-full object-cover opacity-50' alt={place.data.title} />
    </div>
  </div>
  <div class='relative z-10 mx-auto max-w-4xl bg-white px-12 pt-12 -mt-32 lg:px-24'>
    <h2 class='mt-4 text-xs text-gray-600 tracking-widest uppercase'>travelens</h2>
    <h1 class='font-display mt-4 text-2xl text-gray-900 md:text-3xl'>
      {place.data.title}
    </h1>

    <div class='prose-sm lg:prose-lg mt-6 italic prose sm:prose'>
      {place.data.description}
    </div>
  </div>
  <slot />
  <Footer />
</Layout>
